body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  margin-left: 5vh;
  margin-top: 5vh;
  background-color: white;
}

.poster {
  height: 200px;
  width: auto;
  border-radius: 3.5%;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  /* aspect-ratio: 1; */
}

.movieGridContainer {
  height: 200;
  width: 300;
}

.movieColumn {
  width: 50%;

  /* align-content: space-around;
  justify-items: center; */
}
.wheelColumn {
  margin: auto;
  margin-right: 10vh;
  width: 80%;
  align-content: center;
  justify-items: center;
  font-weight: 200;
  z-index: 1;
}

.search__input {
  display: block;
  width: 400px;
  padding: 12px 24px;
  margin-bottom: 5vh;
  transition: transform 250ms ease-in-out;
  font-size: 25px;
  font-weight: 200;
  line-height: 18px;

  color: #575756;
  background-color: #ebd9d9;

  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 20px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search__input:hover {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0px;
  background-color: transparent;
  background-position: 100% center;
}
.search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-color: transparent;
  background-position: 100% center;
}

.fill {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 40px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
}

.fill::after {
  content: "";
  background-color: #ebd9d9;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  border-radius: 20px;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.modal-main {
  position: absolute;
  background: white;
  width: 425px;
  /* height: auto; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 20px;
  flex: 1;
  flex-direction: row;
  /* filter: blur(4px);
  -webkit-filter: blur(4px);
  transition: 1s filter linear;
  -webkit-transition: 1s -webkit-filter linear;
  -moz-transition: 1s -moz-filter linear;
  -ms-transition: 1s -ms-filter linear;
  -o-transition: 1s -o-filter linear; */
}
/* 
.modal-main.is-appear {
  filter: blur(0px);
  -webkit-filter: blur(0px);
} */

.modal.display-block {
  display: block;
}

.display-none {
  display: none;
}

h2.movieDetails {
  color: #d25539;
}
